{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-confusing-arrow": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "off"
  }
}